.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* Important for containing the images */
    width: 281px;
    height: 282px;
    

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex; /* Arrange images horizontally */
    width: 100%;
}

.image-container img {
    width: calc(100% / 3); /* Each image takes 1/3 of the container width */
    height: auto;
    display: block; /* Prevents small vertical gaps */
    border-right: 1px solid #ccc; /* Optional: Add separators */
    padding: 2px;
    
}

.image-container img:last-child {
    border-right: none; /* Remove separator on the last image */
}


.card-content {
    padding: 15px;
}

.card h3 {
    margin-top: 0;
}